# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# PyCharm
.idea/

# macOS
.DS_Store

# Test / cache
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Generated results
results/**/*.png
results/**/*.txt

# Temporary files
*.log
*.tmp